.date{
position: absolute;
left: 72.52%;
right: 13.35%;
top: 20.57%;
bottom: 77.11%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: rgba(192, 22, 22, 0.79);
};
